{
  "branches": [{"name": "master"}, { "name": "beta", "prerelease": true}],
  "plugins": [
    "@semantic-release/commit-analyzer", 
    "@semantic-release/release-notes-generator", 
    "@semantic-release/github", {
      "assets": [
        "bin/conf-sync-darwin-amd64",
        "bin/conf-sync-linux-amd64"
      ]
    },
    ["@codedependant/semantic-release-docker", {
      "docker": {
        "tags": ["latest", "{version}"],
        "image": "conf-sync",
        "project": "hennersz"
      }
    }]
  ]
}